@use '../../../App.scss' as rs;

.Header {
  width: 100%;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.6) 0%,
    rgba(0, 0, 0, 0.3) 50%,
    rgba(0, 0, 0, 0) 100%
  );
  aspect-ratio: 1920/ 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4%;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: ease 0.5s;
  z-index: 9999;

  &.active {
    background: #02172a;
  }

  &.kids {
    background: #002f3e;
  }

  .Header-left {
    display: flex;
    gap: 40px;
    align-items: center;

    h1 {
      aspect-ratio: 103/56;
      width: clamp(60px, 8vw, 70px);
    }
    nav {
      &.DropdownMenu {
        display: none;
      }
    }

    .DropdownMenu {
      display: none;
    }
  }

  .Header-right {
    display: flex;
    align-items: center;

    .onLogoutBtn {
      color: #fff;
      font-size: 2rem;
      font-weight: 400;
    }
  }

  .LinkBtn {
    padding: 8px 20px;
    display: inline-block;
    @include rs.font(2rem, 400, #fff);
    line-height: 150%;
    letter-spacing: -0.5px;

    &.Kids {
      display: inline-flex;
      align-items: center;

      &::after {
        content: '';
        width: 18px;
        aspect-ratio: 18/18;
        display: inline-block;
        margin-left: 4px;
        background: url(../../../../public/icon/kids.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      }
    }
  }

  .MyProfileDepth {
    position: relative;

    .MyProfile {
      width: clamp(34px, 1.2vw, 56px);
      aspect-ratio: 1/1;
      border-radius: 50%;
      overflow: hidden;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 150%;
        max-width: 200%;
        height: auto;
      }

      &:hover {
        border: 2px solid #fff;
      }
    }

    .ProfileDropdown {
      opacity: 0;
      pointer-events: none;
      transition: opacity 0.2s ease, transform 0.2s ease;
      position: absolute;
      border-radius: 8px;
      border: 1px solid rgba(255, 255, 255, 0.2);
      box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.15);
      display: flex;
      flex-direction: column;
      width: 19rem;
      top: 110%;
      right: 0;
      background: #25272c;
      overflow: hidden;

      > li {
        display: flex;
        height: 60px;
        padding: 0 2rem;
        align-items: center;
        @include rs.font(1.6rem, 400, #fff);
        background-color: inherit;

        .dropdownLink {
          display: block;
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          color: #fff;
        }

        &:hover {
          background-color: #2d2f36;
          // cursor: pointer
        }

        button {
          @include rs.font(1.6rem, 400, #bbb);
        }
      }

      &.open {
        opacity: 1;
        pointer-events: auto;
      }
    }
  }
}

@include rs.respond(tablet) {
  .Header {
    // border: 1px solid yellow;
    aspect-ratio: 280/ 50;
    .Header-left {
      flex-grow: 1;
      justify-content: space-between;
      padding-right: 2vw;

      nav {
        &.web {
          display: none;
        }
        &.DropdownMenu {
          display: block;
          @include rs.font(1.8rem, 400, #fff);
          font-size: clamp(1rem, 0.8vw, 1.8rem);
          position: relative;

          width: clamp(12vw, 20vw, 20vw);
          img {
            margin-left: 2rem;
            vertical-align: middle;
          }
          .DropdownList {
            position: absolute;
            top: 30px;
            border-radius: 4px;
            width: 100%;
            border: 1px solid rgba(255, 255, 255, 0.2);
            box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.15);
            background: #25272c;
            @include rs.font(1.6rem, 400, #fff);
            font-size: clamp(0.8rem, 0.8vw, 1.4rem);

            li {
              padding: 2vh 2vw;
            }
          }
        }
      }
    }

    .LinkBtn {
      @include rs.font(1.6rem, 400, #fff);
      font-size: clamp(1rem, 2vw, 1.6rem);
      letter-spacing: -1px;
      padding: 8px 12px;
    }

    .MyProfileDepth {
      position: relative;

      .MyProfile {
        // width: 36px;

        img {
          width: 150%;
          max-width: 200%;
          height: auto;
        }

        &:hover {
          border: 2px solid #fff;
        }
      }
    }
  }
}

@include rs.respond(mobile) {
  .Header {
    // border: 1px solid blue;
    background-color: #02172a;
    .Header-left {
      h1 {
        aspect-ratio: 66/36;
        // border: 1px solid red;
      }
    }

    .Header-right {
      .search {
        display: none;
      }
      display: flex;
      align-items: center;

      .onLogoutBtn {
        color: #fff;
        font-size: 2rem;
        font-weight: 400;
      }
    }
  }
}

@include rs.respond(mini) {
  .Header {
    .LinkBtn {
      display: none;
    }
  }
}
