@use '../../../App.scss' as rs;

.profileSelectBg {
  background: #0a1a26;
  padding: 10rem;
  align-content: center;
  justify-items: center;
  height: 100vh;

  .profileSelectWrap {
    display: flex;
    flex-direction: column;
    color: white;
    gap: 6rem;
    align-items: center;

    .profileSelect {
      display: flex;
      flex-direction: column;
      gap: 6rem;

      .profiles {
        height: 100%;
        display: flex;
        gap: 8rem;
        justify-content: center;

        .profile {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 3rem;
          cursor: pointer;

          .profileImgBox {
            display: block;
            width: 17.8rem;

            > img {
              width: 100%;
            }

            &.editMode {
              position: relative;

              > img {
                filter: brightness(50%);
              }

              > span {
                display: block;
                width: fit-content;
                height: fit-content;
                position: absolute;
                top: 0;
                transform: translate(120%, 120%);
              }
            }
          }

          .profileTextBox {
            color: #bbb;
            font-size: 2.4rem;
            font-weight: 500;
          }
        }

        .addNewProfile {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;

          .addProfileImgBox {
            width: 17.8rem;
            height: 17.8rem;
            display: flex;
            align-items: center;

            > a {
              display: block;
              width: 100%;
              border: 4px solid #fff;
              height: 100%;
              border-radius: 100%;

              > img {
                transform: translate(90%, 90%);
              }
            }
          }

          .addProfileTextBox {
            color: #bbb;
            font-size: 2.4rem;
            font-weight: 500;
          }
        }
      }

      .profileEditBtnWrap {
        display: flex;
        justify-content: center;

        .profileEditBtn {
          border-radius: 8px;
          border: 1px solid rgba(255, 255, 255, 0.2);
          background: rgba(255, 255, 255, 0.1);
          backdrop-filter: blur(12px);
          padding: 1.2rem 1.6rem;
          display: flex;
          align-items: center;
          font-size: 2rem;
          font-weight: 500;
        }
      }

      .editcompleteBtnWrap {
        display: flex;
        justify-content: center;

        .editcompleteBtn {
          border-radius: 8px;
          border: 1px solid rgba(255, 255, 255, 0.2);
          background: rgba(255, 255, 255, 0.1);
          backdrop-filter: blur(12px);
          padding: 1.2rem 1.6rem;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 2rem;
          font-weight: 500;
        }
      }
    }
  }
}
